html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  background-color: rgb(245, 245, 245);
}
.container {
  background-color: rgb(245, 245, 245);
}

.navbar-container {
  margin: auto;
}

.add-question-form {
  margin: 5px auto 10px auto;
  max-width: 500px;
  padding: 10;
}

.add-question-buttons {
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.add-question-button {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
}
.question-card {
  margin: 10px;
}
.questions-container {
  margin: auto;
  align-items: flex-end;
  max-width: 1200px;
}

.exam-card-title {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.exam-card-button {
  display: flex;
  margin: 10px;
}

.login-container {
  width: 100%;
  max-width: 340px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.login-heading {
  display: flex;
  justify-content: space-around;
}
.login-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-container {
  display: flex;
  margin: 20px auto auto auto;
  padding: 20px;
}

.user-nav-links {
  margin: 10px 10px 10px 10px;
  padding: 20px;
}

.user-pages-generic {
  display: flex;
  margin: 10px 30px 30px 30px;
  padding: 20px;
  justify-content: space-between;
}

.user-page-left {
  max-width: 20%;
  align-items: flex-start;
}

.user-page-center {
  max-width: 60%;
  align-items: flex-start;
}

.user-page-right {
  max-width: 60%;
  align-items: flex-end;
}

.auth-error {
  display: flex;
  justify-content: space-around;
  color: red;
  align-items: center;
}
