.main-container {
  background-color: rgb(245, 245, 245);
}
.container {
  background-color: rgb(187, 182, 182);
}

.navbar-container {
  margin: auto;
}

.add-question-form {
  margin: 5px auto 10px auto;
  max-width: 500px;
  padding: 10;
}

.add-question-buttons {
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.add-question-button {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
}
.question-card {
  margin: 10px;
}
.questions-container {
  margin: auto;
  align-items: flex-end;
  max-width: 1200px;
}

.exam-card-title {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.exam-card-button {
  display: flex;
  margin: 10px;
}

.login-container {
  width: 100%;
  max-width: 340px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.login-heading {
  display: flex;
  justify-content: space-around;
}
.login-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-container {
  display: flex;
  /* padding: 20px; */
  min-width: 100%;
}

.user-nav-links {
  /* margin: 0px 10px 10px 10px; */
  min-width: 15%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #39424e;
}

.user-nav-item {
  color: #b90d63;
  text-decoration: none;
}

.dark-background {
  background-color: #39424e;
}

.user-pages-generic {
  display: flex;
  margin: 10px 30px 30px 30px;
  padding: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.user-page-left {
  max-width: 20%;
  align-items: flex-start;
}

.user-page-center {
  max-width: 60%;
  align-items: flex-start;
}

.user-page-right {
  max-width: 60%;
  align-items: flex-end;
}

.auth-error {
  display: flex;
  justify-content: space-around;
  color: red;
  align-items: center;
}

.exams-page-container {
  padding: 20px;
  margin-left: 20px;
  min-width: 60%;
  max-width: 60%;
}

.main-content-container {
  margin-left: 20px;
  min-width: 60%;
  max-width: 60%;
  margin-right: 20px;
}

.exams-card-container {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  min-width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.exam-card {
  min-width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.launch-exam-modal-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.user-question-card {
  margin-bottom: 25px;
  margin-top: 25px;
}

.conclusions-markup {
  padding: 10px;
  font-size: large;
}

.exam-launcher-card {
  align-items: center;
  min-width: 100%;
}

.exam-heading {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.options-form-group {
  margin: 10px;
  /* border-style: solid;
  border-width: 1px;
  border-color: whitesmoke; */
  padding: 5px;
  font-size: large;
}

.options-form-group-correct-answer {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  padding: 5px;
  font-size: larger;
}

.question-grade-card-heading {
  display: flex;
  justify-content: space-between;
}

.timer-body {
  display: flex;
  justify-content: space-evenly;
}

.grade-card-item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: larger;
}

.grade-card-item-text {
  color: #b90d63;
}

.right-pane {
  min-width: 20%;
}
